PORT= 8000
MONGODB_URI = mongodb+srv://amanguptaa127:Aman639218@cluster0.ubiycia.mongodb.net/

CORS_ORIGIN = *

ACCESS_TOKEN_SECRET= chai-aur-code

ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = chai-aur-backend

REFRESH_TOKEN_EXPIRY = 10d



